/* src/toolbar.css */

.toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: linear-gradient(145deg, #444, #222);
    color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
}

.toolbar:hover {
    transform: translateY(-5px);
}

.control-button {
    background: linear-gradient(145deg, #555, #333);
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0 5px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0 0 5px rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}


.audio-pulse {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}

.audio-pulse div {
    width: 5px;
    height: 10px;
    background-color: #5bc0de;
    margin: 0 2px;
    border-radius: 2px;
    transition: height 0.1s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.audio-pulse div:hover {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.media-stream-button {
    background: linear-gradient(145deg, #555, #333);
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0 5px;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), inset 0 0 5px rgba(0, 0, 0, 0.5);
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.media-stream-button:hover {
    color: #5bc0de;
    background-color: rgba(255, 255, 255, 0.1);
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3), inset 0 0 7px rgba(0, 0, 0, 0.7);
}

.streaming-status {
    font-size: 1.2rem;
    font-weight: bold;
    color: #5bc0de;
    margin-left: 10px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.streaming-status:hover {
    color: #fff;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Responsive styles */
@media (max-width: 768px) {
    .toolbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .control-button {
        font-size: 1.2rem;
        padding: 8px;
    }

    .media-stream-button {
        font-size: 1.2rem;
        padding: 8px;
    }

    .streaming-status {
        font-size: 1rem;
        margin-left: 0;
        margin-top: 10px;
    }
}