.video-players-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 50px;
}

video {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #000;
}

/* Hide the default play button */
video::-webkit-media-controls-play-button {
    display: none;
}

video::-webkit-media-controls-start-playback-button {
    display: none;
}

/* Hide the default volume control */
video::-webkit-media-controls-volume-slider {
    display: none;
}

video::-webkit-media-controls-mute-button {
    display: none;
}